


.google-left{
    font-size: 50px;
}
.google-right{
    text-align: center;
    font-size: 35px;

}
.calender{
    height: 50px;
}
.venue{
    height: 50px;
}
.time{
    height: 50px;
}
.contact{
    height: 50px;
}
.god{
    height: 120px;
}